{deps, [
        {hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {tag, "1.4.10"}}},
        {exometer_core, {git, "git://github.com/Feuerlabs/exometer_core.git", {ref, "5fdd9426713a3c26cae32f644a3120711b1cdb64"}}},
        {exometer_influxdb, {git, "https://github.com/travelping/exometer_influxdb", {branch, "master"}}}
       ]
}.
