[{exometer_core, [
    {reporters, [
        {exometer_report_influxdb, [
            {protocol, http},                %% send via http or https
            {host, <<"localhost">>},         %% host of InfluxDB
            {port, 8086},                    %% port of InfluxDB
            {db, <<"test">>},                %% name of the DB in InfluxDB
            {tags, []}                       %% want default tags?
        ]}
]}]}].

